@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    line-height: 150%;
    color: #535353;
    /* border: 1px solid black; */
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-body-centered {
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
}

.page-body-splited {
    flex: 1 0 0;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

#page-background {
    background: linear-gradient(to bottom, #DDE1E6 35%, #ffffff 35%);
}

h1 {
    color: var(--CoolGray-90, #21272A);

    /* Heading/2 */
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    /* 2.8875rem */
    margin: 0px;
}

h2 {
    color: var(--CoolGray-90, #21272A);

    /* Heading/5 */
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    /* 1.375rem */
}

label {
    color: var(--CoolGray-90, #21272A);

    /* Body/S */
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 1.225rem */
}

p {
    color: var(--CoolGray-90, #21272A);

    /* Body/L */
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 1.575rem */
}

hr {
    border: 0;
    border-top: 1px solid #DDE1E6;
}

.primary-no-border a,
.primary-outlined a,
.primary-filled a {
    text-decoration: none;
    cursor: pointer;
    display: inherit;
    align-items: inherit;
    gap: inherit;
}

a:hover,
a:focus {
    cursor: pointer;
}

.container {
    background-color: #ffffff;
    border: 1px solid #DDE1E6;
    min-width: 40%;
    /* max-width: 60%; */
    text-align: left;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    /* align-items: baseline; */
    gap: 3rem;
}

.page-body-splited .container {
    border: none;
    padding: 5rem;
}

.container-img {
    background: #DDE1E6;
    width: 50%;
    height: 100%;
    padding: 3rem;
    border: none;
    box-sizing: border-box;
}

.container-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    width: 100%;
}

.card {
    border-radius: 0.75rem;
    border: 1px solid var(--CoolGray-20, #DDE1E6);
    background: var(--Default-White, #FFF);

    display: flex;
    height: 12.5rem;
    max-width: 300px;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
}

.save-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

input[type=checkbox] {
    appearance: none;
    border: 1px solid var(--CoolGray-100, #121619);
    position: relative;

    width: 1.125rem;
    height: 1.125rem;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background: var(--Primary-60, #0F62FE);
    border: var(--Primary-60, #0F62FE) !important;
}

input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    /* top: 2px; */
    left: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

input[type=radio] {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    /* position: absolute; */
    right: 1rem;
    top: 1rem;
}

.container-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
}

.pagination {
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    gap: 1rem;
}

#form-left-columm {
    width: 70%;
}

#form-right-columm {
    width: 30%;
}

.password-field {
    padding-right: 30px;
    /* Espaço para o ícone */
    font-size: 16px;
}

.toggle-password {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: larger;
    cursor: pointer;
    user-select: none;
}

.support-text {
    color: var(--CoolGray-60, #697077);

    /* Body/XS */
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 1.05rem */
}

/* .user, .password,  */

.form-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;

    /* margin-top: 12px; */
    text-align: left;
    position: relative;
    width: 100%;
}

.form-box#form-box-small {
    width: 50%;
}

/* .user input[type="text"], .password input[type="password"], */

.form-box input {
    border: 0px;
    border-bottom: 1px solid #DDE1E6;
    background-color: #F2F4F8;
    width: 100%;
    padding: 16px;
    outline: none;
    box-sizing: border-box;
}

.form-box select {
    border: 0px;
    border-bottom: 1px solid #DDE1E6;
    background-color: #F2F4F8;
    width: 100%;
    padding: 16px;
    outline: none;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
    border-bottom: 1px solid #a5a5a5;
}

input[type="checkbox"]:active,
input[type="checkbox"]:focus {
    border: 1px solid var(--CoolGray-100, #121619);
    border-bottom: 1px solid var(--CoolGray-100, #121619);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

textarea {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border: 0px;
    border-bottom: 1px solid #DDE1E6;
    background-color: #F2F4F8;
    padding: 16px;
    outline: none;
}

button {
    border: 2px solid var(--Primary-60, #0F62FE);
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 3.5rem;
    padding: 1rem;
}

button[data-text="Proximo"] {
    padding-left: 2rem;
}

.primary-filled {
    border: 2px solid var(--Primary-60, #0F62FE);
    background: var(--Primary-60, #0F62FE);

    display: flex;
    height: 3.5rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.primary-no-border {
    border: none;
}

.primary-text-link {
    border: none;
    padding: 0;
    height: auto;
    justify-content: left;
}

.button-text {
    color: var(--Primary-60, #0F62FE);

    /* Button/L */
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 1.25rem */
    letter-spacing: 0.03125rem;
}

.primary-filled .button-text {
    color: var(--Default-White, #FFF);

    /* Button/L */
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 1.25rem */
    letter-spacing: 0.03125rem;
}

.text-link,
.text-link a {
    color: var(--Primary-90, #001D6C);

    /* Body/S */
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 1.225rem */
}

.button-filled {
    border: 2px solid var(--Primary-60, #0F62FE);
    background: var(--Primary-60, #0F62FE);

    color: var(--Default-White, #FFF);

    /* Button/M */
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 1rem */
    letter-spacing: 0.03125rem;

    display: flex;
    width: 100%;
    height: 3rem;
    padding: 1rem 0.75rem;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.full-logo {
    display: flex;
    flex-direction: row;
    align-items: self-start;
    gap: 0.25rem;
}

.logo-text {
    /* Heading/4 */
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    /* 1.65rem */
}

.text-center {
    text-align: center;
}

/* --------------------- */
/*     CSS do Header     */
/* --------------------- */
header {
    display: flex;
}

header .logo-text {
    color: var(--CoolGray-60, #697077);
}

.header {
    background: #FFF;
    padding: 1rem 5rem;
    border-bottom: 1px solid var(--CoolGray-20, #DDE1E6);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    /* width: 100%; */
}

.header .row {
    width: fit-content;
}

.login .menu,
.login #logado,
.login #deslogado {
    display: none;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF;
}

.menu ul li {
    float: left;
}

.menu a {
    color: var(--CoolGray-90, #21272A);

    /* Other/Menu M */
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 1rem */

    display: flex;
    gap: 0.5rem;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease;

}

.menu a:hover {
    background-color: #0F62FE;
    color: white;
    border-radius: 0.25rem;
}

.menu-arrow-down {
    width: 1rem;
    height: 1rem;
    background-color: black;
    -webkit-mask: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"%3E%3Cpath d="M12.071 13.314L17.021 8.364C17.1133 8.26849 17.2236 8.19231 17.3456 8.1399C17.4676 8.08749 17.5988 8.05991 17.7316 8.05875C17.8644 8.0576 17.9961 8.0829 18.119 8.13318C18.2419 8.18346 18.3535 8.25772 18.4474 8.35161C18.5413 8.4455 18.6156 8.55715 18.6658 8.68005C18.7161 8.80295 18.7414 8.93463 18.7403 9.06741C18.7391 9.20018 18.7115 9.3314 18.6591 9.45341C18.6067 9.57541 18.5305 9.68576 18.435 9.778L12.778 15.435C12.5905 15.6225 12.3362 15.7278 12.071 15.7278C11.8059 15.7278 11.5515 15.6225 11.364 15.435L5.70702 9.778C5.61151 9.68576 5.53533 9.57541 5.48292 9.45341C5.43051 9.3314 5.40292 9.20018 5.40177 9.06741C5.40062 8.93463 5.42592 8.80295 5.4762 8.68005C5.52648 8.55715 5.60073 8.4455 5.69463 8.35161C5.78852 8.25772 5.90017 8.18346 6.02307 8.13318C6.14596 8.0829 6.27764 8.0576 6.41042 8.05875C6.5432 8.05991 6.67442 8.08749 6.79643 8.1399C6.91843 8.19231 7.02877 8.26849 7.12102 8.364L12.071 13.314Z" fill="%2321272A" /%3E%3C/svg%3E') no-repeat center;
    -webkit-mask-size: cover;
    mask: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"%3E%3Cpath d="M12.071 13.314L17.021 8.364C17.1133 8.26849 17.2236 8.19231 17.3456 8.1399C17.4676 8.08749 17.5988 8.05991 17.7316 8.05875C17.8644 8.0576 17.9961 8.0829 18.119 8.13318C18.2419 8.18346 18.3535 8.25772 18.4474 8.35161C18.5413 8.4455 18.6156 8.55715 18.6658 8.68005C18.7161 8.80295 18.7414 8.93463 18.7403 9.06741C18.7391 9.20018 18.7115 9.3314 18.6591 9.45341C18.6067 9.57541 18.5305 9.68576 18.435 9.778L12.778 15.435C12.5905 15.6225 12.3362 15.7278 12.071 15.7278C11.8059 15.7278 11.5515 15.6225 11.364 15.435L5.70702 9.778C5.61151 9.68576 5.53533 9.57541 5.48292 9.45341C5.43051 9.3314 5.40292 9.20018 5.40177 9.06741C5.40062 8.93463 5.42592 8.80295 5.4762 8.68005C5.52648 8.55715 5.60073 8.4455 5.69463 8.35161C5.78852 8.25772 5.90017 8.18346 6.02307 8.13318C6.14596 8.0829 6.27764 8.0576 6.41042 8.05875C6.5432 8.05991 6.67442 8.08749 6.79643 8.1399C6.91843 8.19231 7.02877 8.26849 7.12102 8.364L12.071 13.314Z" fill="%2321272A" /%3E%3C/svg%3E') no-repeat center;
    mask-size: cover;
    transition: background-color 0.3s ease;
}

a:hover .menu-arrow-down {
    background-color: white;
}

.notifications {
    display: flex;
    width: 3rem;
    height: 3rem;
    /* padding: 1rem 0.5rem; */
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */

    position: relative;
}

.badge {
    border-radius: 1rem;
    background: var(--Default-Alert, #DA1E28);
    width: 1.5rem;
    height: 1.5rem;

    display: flex;
    padding: 0.03125rem 0.03125rem;
    justify-content: center;
    align-items: center;
    /* gap: 0.625rem; */

    color: white;

    position: absolute;
    right: 0rem;
    top: 0rem;
}

.profile {
    border-radius: 6.25rem;
    background-color: #0F62FE;

    display: flex;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

/* --------------------- */
/*     CSS do Footer     */
/* --------------------- */
footer {
    display: flex;
}

footer .logo-text {
    color: var(--CoolGray-30, #C1C7CD);
}

.footer {
    background: var(--CoolGray-60, #697077);
    padding: 1.5rem 5rem 3rem 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: self-start;
    gap: 1rem;
}