@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    line-height: 150%;
    color: #535353;
    /* border: 1px solid black; */
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-body-centered {
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
}

.page-body-splited {
    flex: 1 0 0;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

#page-background {
    background: linear-gradient(to bottom, #DDE1E6 35%, #ffffff 35%);
}

h1 {
    color: var(--CoolGray-90, #21272A);

    /* Heading/2 */
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 2.8875rem */
    margin: 0px;
}

h2 {
    color: var(--CoolGray-90, #21272A);

    /* Heading/5 */
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 1.375rem */
}

label {
    color: var(--CoolGray-90, #21272A);

    /* Body/S */
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.225rem */
}

p {
    color: var(--CoolGray-90, #21272A);

    /* Body/L */
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.575rem */
}

hr {
    border: 0;
    border-top: 1px solid #DDE1E6;
}

.container {
    background-color: #ffffff;
    border: 1px solid #DDE1E6;
    width: 50%;
    text-align: left;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    /* align-items: baseline; */
    gap: 3rem;
}

.page-body-splited .container {
    border: none;
    padding: 5rem;
}

.container-img {
    background: #DDE1E6;
    width: 50%;
    height: 100%;
    padding: 3rem;
    border: none;
    box-sizing: border-box;
}

.container-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container-body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    width: 100%;
}

.card {
    border-radius: 0.75rem;
    border: 1px solid var(--CoolGray-20, #DDE1E6);
    background: var(--Default-White, #FFF);
    
    display: flex;
    height: 12.5rem;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
}

.save-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

input[type=checkbox] {
    border: 1px solid var(--CoolGray-100, #121619);

    display: flex;
    width: 1.125rem;
    height: 1.125rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

input[type=radio] {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    /* position: absolute; */
    right: 1rem;
    top: 1rem;
}

.container-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
}

.pagination {
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    gap: 1rem;
}

.password {
    margin-top: 12px;
    text-align: left;
    position: relative;
    width: 100%;
}

.password-field {
    padding-right: 30px; /* Espaço para o ícone */
    font-size: 16px;
}

.toggle-password {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: larger;
    cursor: pointer;
    user-select: none;
}

.support-text {
    color: var(--CoolGray-60, #697077);

    /* Body/XS */
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.05rem */
}

.user, .password, .form-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
}

.user input[type="text"],
.password input[type="password"],
.form-box input {
    border: 0px;
    border-bottom: 1px solid #DDE1E6;
    background-color: #F2F4F8;
    width: 100%;
    padding: 16px;
    outline: none;
    box-sizing: border-box;
}

input:active, 
input:focus {
    border-color: #a5a5a5 !important;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button {
    border: 2px solid var(--Primary-60, #0F62FE);
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 3.5rem;
    padding: 1rem;
}

button[data-text="Proximo"] {
    padding-left: 2rem;
}

.primary-text-button {
    border: none;
}

.primary-text-link {
    border: none;
    padding: 0;
    height: auto;
    justify-content: left;
}

.button-text {
    color: var(--Primary-60, #0F62FE);
    
    /* Button/L */
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 1.25rem */
    letter-spacing: 0.03125rem;
}

.text-link, .text-link a {
    color: var(--Primary-90, #001D6C);
    
    /* Body/S */
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.225rem */
}

.button-filled {
    border: 2px solid var(--Primary-60, #0F62FE);
    background: var(--Primary-60, #0F62FE);

    color: var(--Default-White, #FFF);

    /* Button/M */
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 1rem */
    letter-spacing: 0.03125rem;

    display: flex;
    width: 100%;
    height: 3rem;
    padding: 1rem 0.75rem;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.full-logo {
    display: flex;
    flex-direction: row;
    align-items: self-start;
    gap: 0.25rem;
}

.logo-text {
    /* Heading/4 */
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 1.65rem */
}

/* --------------------- */
/*     CSS do Header     */
/* --------------------- */
header {
    display: flex;
}

header .logo-text {
    color: var(--CoolGray-60, #697077);
}

.header {
    background: var(--Default-White, #FFF);
    padding: 1rem 5rem;
    border-bottom: 1px solid var(--CoolGray-20, #DDE1E6);
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    /* width: 100%; */
}


/* --------------------- */
/*     CSS do Footer     */
/* --------------------- */
footer {
    display: flex;
}

footer .logo-text {
    color: var(--CoolGray-30, #C1C7CD);
}

.footer {
    background: var(--CoolGray-60, #697077);
    padding: 1.5rem 5rem 3rem 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.social-media {
   display: flex;
   flex-direction: row;
   align-items: self-start;
   gap: 1rem;
}