@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    line-height: 150%;
    color: #535353;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-background {
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #DDE1E6 50%, #ffffff 50%);
}

h1 {
    color: var(--CoolGray-90, #21272A);

    /* Heading/2 */
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 2.8875rem */
}

h2 {
    color: var(--CoolGray-90, #21272A);

    /* Heading/5 */
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 1.375rem */
}

p {
    color: var(--CoolGray-90, #21272A);

    /* Body/L */
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.575rem */
}

.container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    border: 1px solid #DDE1E6;
    width: 500px;
    text-align: left;
    padding: 3rem;
}

.row {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
}

/* .container-navigation {

} */

.card {
    border: 1px solid #DDE1E6;
    border-radius: 12px;
    padding: 16px;
}

.password {
    margin-top: 12px;
    text-align: left;
}

.user, .password {
    text-align: left;
}

.input-field {
    padding: 50px 0px;
}

.input-field .user input[type="email"],
.input-field .password input[type="password"] {
    border: 1px solid #ADADAD;
    border-radius: 4px;
    width: 100%;
    padding: 16px;
    outline: none;
    box-sizing: border-box;
}

input:active, 
input:focus {
    border-color: #22E59A !important;
}

.button {
    color: white;
    background-color: #22E59A;
    border-radius: 6px;
    border: 0px;
    width: 350px;
    padding: 14px;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 2px;
}

.full-logo {
    display: flex;
    flex-direction: row;
    align-items: self-start;
    gap: 0.25rem;
}

.logo-text {
    /* Heading/4 */
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 1.65rem */
}

/* --------------------- */
/*     CSS do Header     */
/* --------------------- */
header {
    display: flex;
}

header .logo-text {
    color: var(--CoolGray-60, #697077);
}

.header {
    background: var(--Default-White, #FFF);
    padding: 1rem 5rem;
    border-bottom: 1px solid var(--CoolGray-20, #DDE1E6);
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    /* width: 100%; */
}


/* --------------------- */
/*     CSS do Footer     */
/* --------------------- */
footer {
    display: flex;
}

footer .logo-text {
    color: var(--CoolGray-30, #C1C7CD);
}

.footer {
    background: var(--CoolGray-60, #697077);
    padding: 1.5rem 5rem 3rem 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.social-media {
   display: flex;
   flex-direction: row;
   align-items: self-start;
   gap: 1rem;
}