<link rel="stylesheet" href="/public/styles/main.css" />
<link rel="stylesheet" href="/public/styles/img-lib.css" />
<link rel="stylesheet" href="../styles/style-manual.css" />
<body>
	<div class="w-64 p-4 flex flex-1 flex-col grow gap-4 bg-white border-r">
		<div class="flex space-x-1">
			<i class="img-logo-fee-delivery"></i>
			<a style="text-decoration: none" href="../pages/index.html">
				<span class="logo-text">Fee Delivery</span>
			</a>
		</div>
		<div>
			<ul>
				<li class="flex p-3 space-x-2 hover:bg-gray-100 rounded"><i class="flex-none img-menu-home-site"></i><a class="flex-auto" href="../pages/home-logada.html">Home Site</a></li>
				<li class="flex p-3 space-x-2 hover:bg-gray-100 rounded"><i class="flex-none img-menu-empresas"></i><a class="flex-auto" href="">Empresas</a></li>
				<li class="flex p-3 space-x-2 hover:bg-gray-100 rounded"><i class="flex-none img-menu-vagas"></i><a class="flex-auto" href="">Vagas</a></li>
				<li class="flex p-3 space-x-2 hover:bg-gray-100 rounded"><i class="flex-none img-menu-cartoes"></i><a class="flex-auto" href="">Cartões</a></li>
				<li class="flex p-3 space-x-2 hover:bg-gray-100 rounded"><i class="flex-none img-menu-motoboys"></i><a class="flex-auto" href="">Motoboys</a></li>
				<li class="flex p-3 space-x-2 hover:bg-gray-100 rounded"><i class="flex-none img-menu-contas"></i><a class="flex-auto" href="">Contas</a></li>
			</ul>
		</div>
	</div>
</body>
