<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- <link rel="stylesheet" href="/public/styles/main.css" /> -->
		<link rel="stylesheet" href="../styles/style-manual.css" />
		<link rel="stylesheet" href="/public/styles/img-lib.css" />
		<title>Card</title>
	</head>
	<body class="page-body-centered">
		<div class="content-box">
			<div class="content-img">
				<i class="card-content-img"></i>
				<div class="content-icon">
					<i class="card-fav-icon"></i>
				</div>
			</div>
			<div class="content-body">
				<div class="columm">
					<div>Category</div>
					<h2>Title</h2>
				</div>
				<p>Egestas elit dui scelerisque ut eu purus aliquam vitae habitasse.</p>
				<div class="button-row">
					<div class="profile">
						<i class="card-user-icon"></i>
					</div>
					<div>
						<h2>Jane Doe</h2>
						<span class="big-numbers-text">Senior Designer</span>
					</div>
				</div>
				<div class="button-row">
					<button data-text="Button Text" class="primary-filled">
						<a href=""><span class="button-text content-button">Button Text</span></a>
					</button>
					<button data-text="Button Text" class="primary-outlined">
						<a href=""><span class="button-text content-button">Button Text</span></a>
					</button>
				</div>
			</div>
		</div>
	</body>
</html>
